name: Check links in Markdown files
on:
  schedule:
    - cron: "0 0 * * 1" # midnight every Monday
  push:
    branches: [main]
    paths:
      - "**/*.md"
  pull_request:
    branches: [main]
    paths:
      - "**/*.md"

permissions: {}

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: gaurav-nelson/github-action-markdown-link-check@3c3b66f1f7d0900e37b71eca45b63ea9eedfce31 # 1.0.17
        with:
          use-quiet-mode: "yes"
          use-verbose-mode: "yes"
          folder-path: "docs/"
          file-path: "README.md"
